body {
  margin: 0;
  background-color: rgb(117, 117, 218);
}

header {
  background: linear-gradient(#64a1e6, #91dfe5);
  padding: 40px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
}

h1 {
  text-align: center;
  color: rgb(75, 75, 75);
  font-size: 48px;
}

input {
  padding: 10px 30px;
  cursor: pointer;
}

input[type='submit'] {
  background-color: #64a1e6;
  border-radius: 15px;
}

.form {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 40px;
}